// Colors
$primary-color: #ff6347;
$error-color: #dc3545;
$success-color:#28a745;
$warning-color:#fff200;
$heading-color: #000;
$box-border-color: #ccc;
$focus-border-color: #000000;

// Font Sizes
$font-size-large: 2rem;
$font-size-medium: 1.2rem;
$font-size-small: 1.1rem;

// Spacing
$padding-small: 12px 18px;
$padding-large: 14px;
$container-padding: 15px;
$element-padding: 10px;
$margin-medium: 20px;

// Border Radius
$border-radius: 5px;

// Shadows
$box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

// Transitions
$transition-duration: 0.3s;

// Fonts
$font-family: "Poppins", sans-serif;
