.background-container {
  position: relative;
  background: url('/client/images/background.jpeg') no-repeat center center;
  background-size: cover;
  height: 40vh;
  padding: $padding-large;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 10;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $margin-medium;
    padding: $padding-small;
    box-shadow: none;
    border: none;
    background: transparent;
    position: relative;
    z-index: 2;
    transition: all 0.3s ease-in-out;

    &.fixed {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: white; /* Optional, to make it stand out */
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Optional, add shadow when fixed */
      z-index: 10;
    }

    input,
    select,
    button {
      margin-right: 10px;
      padding: $element-padding;
      background-color: white;
      border: 1px solid $box-border-color;
      border-radius: $border-radius;
      transition: border-color $transition-duration;

      &:focus {
        outline: none;
      }
    }

    button {
      background-color: $primary-color;
      color: white;
      cursor: pointer;
      border: none;
      border-radius: $border-radius;
      transition: background-color $transition-duration;
      margin-top: -1px;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }

}
#food-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $margin-medium;

  .food-header {
    h2 {
      text-align: center;
      font-size: $font-size-large;
      color: #333;
      margin-bottom: 15px;
    }
  }

  .food-items {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

    .food-box {
      padding: $element-padding;
      border-radius: $border-radius;
      text-align: center;
      cursor: pointer;
      transition: background-color $transition-duration, transform $transition-duration;

      h3 {
        font-weight: 400;
      }

      img {
        width: 100px;
        height: 100px;
      }

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
